.breathingCircle {
    animation: breathe 20s ease-in-out infinite alternate;
  }
  
  @keyframes breathe {
    0%, 100% {
      transform: scale(1);
    }
    50% {
      transform: scale(1.2);
    }
  }